.btn {
  margin-bottom: 20px;
  border-radius: 50px;
  background: #cfdef3;
  box-shadow: 20px 20px 60px #b0bdcf, -20px -20px 60px #eeffff;
}

.card {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.listLink {
  padding: 20px;
}
.navLink {
  padding: 5px;
  margin-right: 20px;
  color: slategrey;
  font-size: 20px;
  font-weight: 700;
}

.active {
  color: black;
  border-bottom: 1px solid black;
}
